/*Author Haukun Song*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #f08b26;
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 14% auto; /*view width*/
    grid-template-rows: auto; /*view height*/

}

.sidebar{
    margin-left:15px;
    justify-content: center;
    text-align: left;
    -webkit-text-stroke: 0.13px purple;

}

.map {
    height: 800px;
    width: 100%;
    float: right;
    
}

/*#layers{*/
/*    height: 800px;*/
/*    width: 7.5%;*/
/*    float: left;*/
/*    background: linear-gradient(#999 , #eee);*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/

#btn{
    height:25px;
    width:40px;
}

.overlay-container{
    background:rgba(255, 126, 28, 0.6);
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
}

/*.overlay-cotainer #feature-additional-info::after{*/
    /*content: '';*/
#feature-name {

    /*position: absolute;*/
    /*top: 100%;*/
    /*right:40%;*/
    /*margin-left: -10px;*/
    /*border-width: 2px;*/
    /*border-style: ridge;*/
    /*border-color: #555 transparent transparent transparent;*/
}
