@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

body{
    background: #353535;
    font-family: Lato, sans-serif; /* the font style*/
}

.map {
    height: 800px;
    width: 90%;
    float: right;
}

#layers{
    height: 800px;
    width: 10%;
    float: left;
    background: linear-gradient(#999 , #eee);
    justify-content: center;
    text-align: center;
}

#milanoBtn{
    height:40px;
    width:80%;
    font-size: 1.10em;
    font-weight: bold;
}